div > button:not(:last-child) {
  margin-right: 10px;
}

div {
  text-align: center;
}

div > button {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  border-color: transparent;
  transition: all linear 0.2s;
  color: yellow;
  background-color: rgb(0, 128, 255);
}

div > button:hover {
  -webkit-box-shadow: 0px 0px 100px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 100px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.834);
  color: blue;
  background-color: yellow;
  transition: all linear 0.2s;
}
